{% extends "base.html.twig" %}

{% block body %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="form">
    {{ form_widget(form) }}
    <input type='submit' value='Add program'>
    </div>
    {{ form_end(form) }}
{% endblock %}